.store-detail {
  background-color: var(--main-text-color);
  color: var(--main-bg-color);
  &__img {
    width: 230px;
    height: 230px;
    object-fit: cover;
  }
  &__heading {
    border-bottom: 1px solid var(--footer-color);
    border-top: 1px solid var(--footer-color);
    height: 52px;
    display: flex;
    align-items: center;
    & > h2 {
      width: 990px;
      margin: auto;
      font-weight: 200;
    }
  }
  &__title {
    max-width: 990px;
    margin: auto;
    padding: 0 0 30px;
    & > h1 {
      text-align: center;
      font-weight: 300;
      font-size: 30px;
    }
    & > p {
      text-align: center;
      font-size: 12px;
      line-height: 20px;
      & span {
        color: var(--point-color);
        font-size: 14px;
        cursor: pointer;
      }
    }
  }
  &__container {
    max-width: 990px;
    margin: auto;
    padding: 40px 0;
  }
  &__image-qr {
    display: flex;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
    transition: all 300ms ease-in-out;
    gap: 2rem;

    & > img {
      object-fit: cover;
      border-radius: 200px;
    }
    @media screen and (max-width: 544px) {
      & {
        flex-direction: column;
      }
    }
  }
  &__description {
    margin: 40px 0;

    & > p {
      padding: 15px 0;
    }
    &__detail {
      border-top: 1px solid var(--footer-color);
      padding: 40px 0;
      display: flex;
      flex-direction: column;
      justify-content: center;

      & > h2 {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-weight: 200;
        font-size: 18px;
        cursor: pointer;

        & .plus-button {
          position: absolute;
          top: 50%;
          right: 0;
          transform: translateY(-50%);
          width: 1em;
          height: 2px;
          background-color: var(--main-bg-color);
          cursor: pointer;

          &::after {
            content: "";
            position: absolute;
            right: 0;
            width: 1em;
            height: 2px;
            background-color: var(--main-bg-color);
            transform: rotate(90deg);
          }
          transition: all 300ms ease-in-out;
        }
        & .rotate-x {
          transform: rotate(45deg);
        }
      }
    }

    &__link {
      border-top: 1px solid var(--footer-color);
      padding: 40px 0;

      display: flex;
      justify-content: space-around;
    }
  }
}

.show {
  padding-top: 15px;
  max-height: 1000px;
  transition: all 0.5s ease-out;
}

.hide {
  margin: 0;
  max-height: 0px !important;
  transition: all 0.5s ease;

  overflow: hidden;
}
.bigger {
  z-index: 999;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: var(--main-text-color);
  & > img {
    object-fit: cover;
    border-radius: 200px;
    width: 400px;
    height: 400px;
  }
  & > svg {
    width: 350px;
    height: 350px;
  }
  & > img:first-child {
    animation: rotate_image 5s cubic-bezier(0.6, 0.005, 0.145, 0.995) infinite;
    animation-direction: alternate;

    transform-origin: 50% 50%;
  }
}
