.admin-footer {
  background-color: rgba(22, 22, 23, 0.95);
  color: rgba(255, 255, 255, 0.8);
  font-size: 12px;
  font-weight: 400;
  letter-spacing: -0.01em;
  line-height: 1;

  //   border-bottom: 1px solid var(--point-color);

  display: grid;
  place-items: center;

  padding: 3rem 2rem;

  &__container {
    max-width: 990px;
    width: 100%;

    display: flex;
    justify-content: space-between;
  }
  &__note {
    display: flex;
    align-items: center;
  }
  &__logo {
    font-size: 14px;
    color: var(--point-color);
    margin-inline: 5px;
  }
  &__items {
    display: flex;
    gap: 10px;

    & > svg {
      cursor: pointer;
    }
  }

  @media screen and (max-width: 496px) {
    &__container {
      flex-direction: column;
      align-items: center;
      gap: 1rem;
    }
    &__items {
      gap: 1rem;
    }
  }
}
