.admin-heading {
  &__h1 {
    font-size: 3rem;
    text-align: center;
    color: var(--point-color);
  }
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
}

.admin-button {
  background-color: var(--main-text-color);
  padding: 12px 22px;
  border: 2px solid transparent;
  border-radius: 30px;
  cursor: pointer;

  &__container {
    margin: 2rem auto;
    width: max-content;
    padding: 2px;
    border-radius: 999px;
    background: linear-gradient(to right, white, 25%, var(--point-color));
  }
}
