.detail {
  background-color: var(--main-bg-color);
  position: absolute;
  scroll-behavior: smooth;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 10px;
  height: 100%;
  align-items: center;

  &__back {
    background-color: transparent;
    border: none;
    color: gray;
    margin: 50px;
    text-decoration: none;
  }
  &__save {
    background-color: transparent;
    border: none;
    color: gray;
    margin: 50px;
    position: fixed;
    bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__save:hover {
    cursor: pointer;
  }
  &__title {
    margin-bottom: 30px;
    font-size: 25px;
  }
  &__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
  }
  &__col2 {
    border: 1px solid black;
    grid-area: 1/1/2/2;
    width: 170px;
    height: 170px;
    background-color: white;
    filter: drop-shadow(7px 7px 0px #000);
  }
}
