@font-face {
  font-family: "LostaBonita";
  src: url("../src/fonts/LostaBonita/LostaBonita-Regular.ttf")
    format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "LostaBonita";
  src: url("../src/fonts/LostaBonita/LostaBonita-Bold.ttf") format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: "LostaBonita";
  src: url("../src/fonts/LostaBonita/LostaBonita-Light.ttf") format("truetype");
  font-weight: light;
}

@font-face {
  font-family: "LostaBonita";
  src: url("../src/fonts/LostaBonita/LostaBonita-ExtraBold.ttf")
    format("truetype");
  font-weight: extra-bold;
}
@font-face {
  font-family: "LostaBonita";
  src: url("../src/fonts/LostaBonita/LostaBonita-ExtraLight.ttf")
    format("truetype");
  font-weight: extra-light;
}

@font-face {
  font-family: "양진체";
  src: url("https://cdn.jsdelivr.net/gh/supernovice-lab/font@0.9/yangjin.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "GmarketSansMedium";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
