.landing {
  position: absolute;
  background-color: var(--point-color);
  scroll-behavior: smooth;
  display: flex;
  flex-direction: column;
  padding: 10px;
  overflow: hidden;
  width: 100vw;
  justify-content: center;
  align-items: center;

  &__main {
    height: 100%;
    width: 300px;
  }
  &__h1 {
    font-size: 25px;
    font-family: var(--font-eng-emphasis);
  }

  &__h1__right {
    font-size: 25px;
    font-family: var(--font-eng-emphasis);
    text-align: right;
  }
  &__h1-center {
    text-align: center;
    font-size: 25px;
    font-family: var(--font-eng-emphasis);
  }
  &__h1-left {
    text-align: left;
    font-size: 25px;
    font-family: var(--font-eng-emphasis);
    width: 250px;
    position: relative;
    left: -30px;
    margin-top: 50px;
  }
  &__h2-center {
    text-align: center;
    font-weight: normal;
    font-family: var(--font-eng-emphasis);
  }

  &__scroll1 {
    display: block;
  }
  &__scroll2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  &__scroll3 {
    margin-top: 100px;
    margin-bottom: 100px;
  }
  &__scroll3-1 {
    display: grid;
    column-gap: 20px;
    row-gap: 10px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
  &__scroll4 {
    margin-top: 100px;
    margin-bottom: 100px;
  }
  &__h2-1 {
    width: max-content;
    font-size: 15px;
    font-weight: normal;
    text-align: center;
    grid-area: 1/1/2/2;
  }
  &__h2-2 {
    width: max-content;
    font-size: 15px;
    font-weight: normal;
    text-align: center;
    grid-area: 1/2/2/3;
  }
  &__h2-3 {
    width: max-content;
    font-size: 15px;
    font-weight: normal;
    text-align: center;
    grid-area: 1/3/2/4;
  }
  &__emoji1 {
    grid-area: 2/1/3/2;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__emoji2 {
    grid-area: 2/2/3/3;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__emoji3 {
    grid-area: 2/3/3/4;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__scroll5 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  &__illustration1 {
    margin: -50px;
    margin-top: -100px;
    position: relative;
    left: -100px;
  }
  &__illustration3 {
    position: relative;
    left: 100px;
    margin-top: -350px;
    margin-right: -50px;
  }

  &__illustration2 {
    position: relative;
    margin-top: -100px;
    margin-left: -100px;
  }
  &__button {
    background-color: black;
    color: white;
    border: none;
    width: 130px;
    height: 50px;
    font-family: var(--font-eng-emphasis);
  }
  &__shopOwner {
    color: gray;
    text-decoration: underline;
    margin: 30px;
  }

  &__nft {
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    align-items: center;
  }
  &__poap {
    border: 1px solid black;
    grid-area: 1/1/2/2;
    width: 70px;
    height: 70px;
    background-color: white;
    filter: drop-shadow(7px 7px 0px #000);
  }
  &__getStarted {
    border: none;
    background-color: black;
    color: var(--point-color);
    width: 100px;
    height: 30px;
    font: var(--font-eng-emphasis);
  }
  &__getStarted:hover {
    cursor: pointer;
  }
}
